[submodule "openbox/.themes"]
	path = openbox/.themes
	url = https://github.com/addy-dclxvi/openbox-theme-collections
[submodule "openbox/.config/tint2/themes"]
	path = openbox/.config/tint2/themes
	url = https://github.com/addy-dclxvi/tint2-theme-collections
[submodule "plasma/.icons/evolvere-icons-2"]
	path = plasma/.local/share/icons/evolvere-icons-2
	url = https://github.com/franksouza183/Evolvere-Icons
