[submodule "openbox/.themes"]
	path = openbox/.themes
	url = https://github.com/addy-dclxvi/openbox-theme-collections
[submodule "openbox/.config/tint2/themes"]
	path = tint2/.config/tint2/themes
	url = https://github.com/addy-dclxvi/tint2-theme-collections
[submodule "plasma"]
	path = plasma
	url = https://framagit.org/gagbo/plasma-config
[submodule "kvantum"]
	path = kvantum
	url = https://framagit.org/gagbo/kvantum-config
